.button {
    display: inline-block;
    border: 1px solid #9c9c9c;
    background-color: #555;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bolder;
    font-variant: small-caps;
    color: #fff;
}
