.contract-container {
    width: 80%;
    margin: 30px auto;
    text-align: left;
    border: 1px solid #eee;
}

.contract-header {
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: small;
}

.contract-contents-container {
    /*line-height: 20px;*/
}

.contract-contents-container pre {
    margin: 0;
}

.contract-lines {

}

.contract-lines:hover {
    background-color: #eee;
}

.contract-line, .contract-line-number {
    display: inline-block;
    padding: 3px 5px;
}

.contract-line-number {
    color: #777;
    border-right: 1px solid #eee;
    min-width: 30px;
    width: fit-content;
    text-align: right;
}

.contract-line {
    color: #333;
}
