body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

header {
  height: 60px;
  width: 80%;
  margin: 30px auto;

  h1.title {
    display: inline-block;
    margin: 0;
    float: left;
    font-size: 52px;
    color: #202122;
    font-family: "New York Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }

  input[name="file"] {
    position: relative;
    float: right;
    top: 35px;
  }

  .button {
    display: inline-block;
    position: relative;
    float: right;
    top: 25px;
  }
}

.App {
  display: flex;
  flex-direction: row;

  .sidebar {
    flex-grow: 1;
    border-right: 1px solid #eee;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 4px 0 #eee;
    position: relative;
    z-index: 0;
    color: #202122;

    h1 {
      font-size: 24px;
      font-family: "New York Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    }

    p {
      font-size: 14px;
      font-weight: 500;
      font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      margin-top: 15px;
    }

    h1, p {
      position: relative;
      left: 60px;
      top: 105px;
    }

    p {
      left: 63px;
    }
  }

  .sidebar-footer {
    position: fixed;
    left: 0;
    right: calc(80% + 50px);
    bottom: 0;
    border-top: 1px solid #eee;
    margin-right: 10px;
    height: 120px;
    overflow: hidden;

    .info {
      position: relative;
      top: 50px;
      text-align: center;
      font-size: 16px;
      font-family: "SF Pro Display";
      font-variant: small-caps;
      cursor: pointer;

      &:hover {
        color: #555;
      }

      &:active {
        color: #888;
      }
    }
  }

  .main {
    position: relative;
    flex-grow: 4;
    z-index: 1;
    background-color: #fdfdfd;
  }
}
